<form name="config" id="config">
  stand (1/2/3.. or knife): <input type="text" name="stand"><br/>
  knife_subdomain(if used on knife): <input type="text" name="knife_domain"><br/>
  Debug mode:<input type="checkbox" name="debug"><br/>
  Use headless chrome? <input type="checkbox" name="headless"><br/>
  Use HTTP auth? <input type="checkbox" name="httpa"><br/>
  HTTP Auth login:<input type="text" name="httpa_login"><br/>
  HTTP Auth pass:<input type="text" name="httpa_pass"><br/>
  <input type="submit" value="Сохранить конфигурацию" onclick="validate()">
</form>
