<br/>
<input type="button" value="Запустить тесты близки" onclick="startProcess()">
<input type="button" value="Перейти в настройку конфигурации" onclick="contentReloader('/config', 'GET')">
<br/>
<div class="console" id="console"></div>
